@keyframes rotate {

    0% {
        -webkit-transform: rotate(0deg);
        transition: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transition: rotate(360deg);
    }

}