$c-primary : #146ff8;
$c-second : #e14e32;
$c-third : #50C84A;
$c-forth : #EBBD16;
$c-fifth : #FF7216;

$c-outline : rgba(99, 154, 249, 1);
$c-outline-alt : rgba(255, 114, 22, 0.5);

$c-lightest : #fff;
$c-borders : #e3e8fb;
$c-ui-bg : #f2f3f8;
$c-ui-bg-alt : #F2F7FA;

$c-text : #1f2533;
$c-text-alt : #3e465d;
$c-text-alt2 : #7a7faa;

$c-boxshadow-default: 0 10px 30px rgba(60, 80, 170, .1);

$font : Arial,
Helvetica,
sans-serif;

$mobile : 'screen and (max-width: 500px)';
$pablet : 'screen and (max-width: 700px)';
$tablet : 'screen and (max-width: 980px)';

$max-z-index: 2147483647;

$skeleton-bg: rgba(0, 0, 0, .15);